html{
	margin:0;
	padding:0;
	background:url(../images/body.png) center top repeat-x;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	margin:0;
	padding:0;
}

.mainwrap {
	width: 944px;
	height:764px;
	margin:0 auto;
}

.header{
	height:92px;
	width:944px;
	margin-left:30px;
	margin-top:15px;
}

.logo{
}

.header p{
	color: #b80344;
	padding:0;
	margin:0;
	padding-left:12px;
	font-size: 28px;
}
.wrapper{
	width: 994px;
	height:642px;
	background:url(../images/wrapper.png);

}	

.content{
	padding:50px 0 0 50px;
	text-align:left
}

.content-header{
	text-align:left;
	margin-right:60px;
	font-size:24px;
	color:#fff;
	font-weight:bold;
}

.content-inner{
	width:554px;
	font-size:13px;
	color:#fff;
	font-weight:bold;
}

.content-list{
	margin-top:50px;
}

.content-list ul{
	margin-top:-2px;
}

.content-list ul li{
	list-style:url(../images/check.png);
}

.button{
	margin-left:-52px;
}

.footer{
	color:#fff;
	width:994px;
	height:123px;
	margin:0 auto;
	font-size:13px;
}

.footer-p{
	width:433px;
	float:right;
	margin-right:-30px;
}

